node_modules
.package-lock.json
package-lock.json
*package-lock.json

.env

./postico-atocha-googlekey.json
postico-atocha-googlekey.json
*postico-atocha-googlekey.json
postico-atocha-googlekey.json

postico-atocha-e08a4fe7d7de.json
*postico-atocha-e08a4fe7d7de.json
.DS_Store 

localIgnore

temp_audio.m4a
decoded_audio.flac


*bundle.js
*bundle.js.map

audio
audio

*fireBaseConfig.js
fireBaseConfig.js
fireBaseConfig.json
*fireBaseConfig.json
firebaseConfig.json
*firebaseConfig.json

app.yaml
translate-config.json
*translate-config.json

fireBaseClient.json