node_modules
.package-lock.json
package-lock.json

.env

./postico-atocha-googlekey.json
postico-atocha-googlekey.json
*postico-atocha-googlekey.json
postico-atocha-googlekey.json

localIgnore

temp_audio.m4a
decoded_audio.flac