node_modules
.package-lock.json
package-lock.json
*package-lock.json

.env

./postico-atocha-googlekey.json
postico-atocha-googlekey.json
*postico-atocha-googlekey.json
postico-atocha-googlekey.json

postico-atocha-e08a4fe7d7de.json
*postico-atocha-e08a4fe7d7de.json
.DS_Store 

localIgnore

temp_audio.m4a
decoded_audio.flac

public
*bundle.js
*bundle.js.map