:root{
    --primary: #470024;
    --purple: #8100ff;
    --lightPurple: #9388db;
    --lightGrayPurple: #f7f7fb;
    --pink: #ff3d69;
    --gray: #797777;
    --white: #fff;
}

html, body {
    margin: 0px;
    font-family: 'League Spartan', sans-serif;
    overflow-x: hidden;
}
